@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss";

@theme {
  --color-b-yellow: #FFDE03;
  --color-b-red: #FF5252;
  --color-b-blue: #1A4CC1;
  --color-b-black: #000000;
  --color-b-white: #FFFFFF;
  /* Bold Borders & Shadows */
  --spacing-b-thick: 4px;
  --shadow-b-flat: 4px 4px 0px 0px rgba(0, 0, 0, 1);
  --shadow-b-pressed: 2px 2px 0px 0px rgba(0, 0, 0, 1);
}