@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --color-b-yellow: #FFDE03;
  --color-b-red: #FF5252;
  --color-b-blue: #1A4CC1;
  --color-b-black: #000000;
  --color-b-white: #FFFFFF;
  --color-b-grey: #4b5562;

  /* Bold Borders & Shadows */
  --spacing-b-thick: 4px;
  --shadow-b-flat: 4px 4px 0px 0px rgba(0, 0, 0, 1);
  --shadow-b-pressed: 2px 2px 0px 0px rgba(0, 0, 0, 1);

  /*Neo-Brutalist Colors*/
  --color-neo-yellow: #FFDE59;
  --color-neo-purple: #8E44AD;
  --color-neo-red: #FF4757;
  --color-neo-green: #2ECC71;
  --color-neo-bg: #F3F4F6;

  /*Neo-Brutalist Fonts*/
  --font-sans: "Space Grotesk", sans-serif;
  --font-bold: "Space Grotesk", sans-serif;


  /*Neo-Brutalist Shadows*/
  --shadow-neo: 4px 4px 0px 0px rgba(0, 0, 0, 1);
  --shadow-neo-sm: 2px 2px 0px 0px rgba(0, 0, 0, 1);
  --shadow-neo-hover: 6px 6px 0px 0px rgba(0, 0, 0, 1);
}

@layer base {
  .login-h1{
    @apply text-4xl font-bold m-2;
  }

  .login-p{
    @apply text-[var(--color-b-grey)] text-lg font-bold m-2;
  }

  .login-input{
    @apply w-full border-4 border-black p-2 font-bold text-lg outline-none transition-all shadow-neo bg-white placeholder-gray-500 m-2;
  }
}